* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

/* The first heading */

.head1 {
    background-color: grey;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-bottom: white 2px;
}

.head1 div {
    color: white;
}

.head1 div a {
    color: white;
}

.head1 div a:hover {
    color: white;
    text-decoration: underline;
}

.head1 div:nth-child(1){
    grid-column: 6;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.head1 div:nth-child(2){
    grid-column: 10;
    justify-self: center;
    align-self: center;
}

.head1 div:nth-child(3){
    grid-column: 11;
    justify-self: center;
    align-self: center;
}

/* The second Heading */

.navbar {
    display: grid;
    background-color: #bab8b8;
    grid-template-columns: repeat(6, 1fr);
    padding: 11px 0;
}

.navbar div {
    justify-self: center;
    align-self: center;
}

.navbar div a{
    color: white;
}

.navbar div a:hover {
    text-decoration: underline;
}

/* CONTENT OF PAGE GOES HERE */

.main-wrapper {
    width: 70%;
    margin: 0 auto;
}

.main-wrapper .deal {
    margin: 20px 0;
    background-color: #bab8b8;
    border-radius: 10px;
}

.main-wrapper .deal h1 {
    font-size: 19px;
}

.main-wrapper .deal h1, p {
    padding-left: 20px;

}


/* Footer */

.footer {
    background-color: grey;


}

.footer-container {
    width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 24px;
    
}

.footer-section {
    justify-self: center;
}

.footer-section h1 {
    Color: white;
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
    
}

.footer-section ul{
    list-style: none;

}

.footer-section ul li{
    padding: 4px 0;
    
}

.footer-section ul li a{
   color: white;
   
}

.footer-section ul li a:hover{
   text-decoration: underline;
}

/* Copyright */

.foot-copyright {
    display: flex;
    justify-content: center;
}

.foot-copyright h1 {
    color: white;
    font-weight: lighter;
    padding: 5px 0;
    
}
