* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* The first heading */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head1 {
    background-color: grey;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-bottom: white 2px;
}

.biz-name a{
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 3px black;
}


.head1 div {
    color: white;
}

.head1 div a {
    color: white;
}

.head1 div a:hover {
    color: white;
    text-decoration: underline;
}

.head1 div:nth-child(1){
    grid-column: 6;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.head1 div:nth-child(2){
    grid-column: 10;
    justify-self: center;
    align-self: center;
}

.head1 div:nth-child(3){
    grid-column: 11;
    justify-self: center;
    align-self: center;
}

/* The second Heading */

.navbar {
    display: grid;
    background-color: #bab8b8;
    grid-template-columns: repeat(6, 1fr);
    padding: 11px 0;
}

.navbar div {
    justify-self: center;
    align-self: center;
}

.navbar div a{
    color: white;
}

.navbar div a:hover {
    text-decoration: underline;
}

/* Main Wrapepr */

.m-wrapper {
    background-color: grey;
    border-radius: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.m-wrapper * {
    text-align: center;
    margin-bottom: 1rem;
}

.m-wrapper form {
    width: 500px;
    padding: 110px 20px;
}

.m-wrapper form h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    color: #eee;
} 

#username, #password {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: 5px white;
    font-weight: bold;
    border-radius: 22px;
    
}

#submit {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    /* Below changes speed of transition */
    transition-duration: 0.25s; 
    border-radius: 12px;
    border-style: none;
}
#submit:hover {
    box-shadow: 0px 0px 5px black;
    
}

form a {
    display: block;
    color: white;
    padding-top: 10px;
}

form a:hover {
    text-decoration: underline;
}

/* Footer */

.footer {
    background-color: grey;


}

.footer-container {
    width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 24px;
    
}

.footer-section {
    justify-self: center;
}

.footer-section h1 {
    Color: white;
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
    
}

.footer-section ul{
    list-style: none;

}

.footer-section ul li{
    padding: 4px 0;
    
}

.footer-section ul li a{
   color: white;
   
}

.footer-section ul li a:hover{
   text-decoration: underline;
}

/* Copyright */

.foot-copyright {
    display: flex;
    justify-content: center;
}

.foot-copyright h1 {
    color: white;
    font-weight: lighter;
    padding: 5px 0;
    
}

/* @MEDIA QUERIES */

@media all and ( max-width:1280px ){
    /* CHANGES THE MAX WIDTH FROM 1080PX TO 980PX WHEN MAX WIDTH IS 1300PX */
    .wrapper {
        max-width: 980px;
    }

    .footer-container {
        width: 980px;
    }
}

@media all and ( max-width:1180px ){
    .wrapper {
        max-width: 880px;
    }

    .footer-container {
        width: 880px;
    }

}

@media all and ( max-width:1080px ){
    .wrapper {
        max-width: 768px;
    }

    .footer-container {
        width: 768px;
    }

    .ttw h1 {
        font-size: 35px;
    }

    .banner h1 {
        color: white;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 45px;
        text-shadow: 5px 5px 10px #000;
    }
    
    .banner p{
        color: white;
        position: absolute;
        top: 63%;
        width: 100%;
        text-align: center;
        font-size: 25px;
        text-shadow: 5px 5px 10px #000;
        font-weight: bold;
    }
    
}

@media all and ( max-width:770px ){
    *{
        font-size: 12px;
    } 

    .footer-section h1 {
        font-size: 20px;
    }

    .td {
        font-size: 22px;
    }

    .side-link div a {
        color: white;
        font-size: 14px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 20px;
        padding-top: 10px;
    }
    
}

@media all and ( max-width:740px ){
    .footer-container {
        width: 100%;
        padding-bottom: 8px;
    }
    
    .footer-section h1 {
        padding: 8px 0;
    }

    .footer-section ul li{
        padding: 2px 0;
        
    }

    .side-link div a {
        color: white;
        font-size: 14px;
    }
}

@media all and ( max-width:600px ){
    .head1 {
        grid-template-columns: repeat(7, 1fr);
    }
    
    
    .head1 div:nth-child(1){
        grid-column: 4;

    }
    
    .head1 div:nth-child(2){
        grid-column: 6;

    }
    
    .head1 div:nth-child(3){
        grid-column: 7;
    }

    .side-link div a {
        color: white;
        font-size: 16px;
    }

    .navbar {
        display: none;
    }
}

@media all and ( max-width:500px ){
    .banner h1 {
        color: white;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 40px;
        text-shadow: 5px 5px 10px #000;
    }
    
    .banner p{
        color: white;
        position: absolute;
        top: 66%;
        width: 100%;
        text-align: center;
        font-size: 20px;
        text-shadow: 5px 5px 10px #000;
        font-weight: bold;
    }

    .side-link div a {
        color: white;
        font-size: 14px;
    }

}

@media all and ( max-width:500px ){
    .head1 {
        background-color: grey;
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-bottom: white 2px;
    }
    
    .head1 div {
        color: white;
    }
    
    .side-link div a {
        color: white;
    }
    
    .head1 div a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .head1 div:nth-child(1){
        grid-column: 2;
        justify-self: center;
        align-self: right;
        font-size: 20px;
        font-weight: bold;
    }
    
    .head1 div:nth-child(2){
        grid-column: 4;
        justify-self: center;
        align-self: center;
    }
    
    .head1 div:nth-child(3){
        grid-column: 5;
        justify-self: center;
        align-self: center;
    }
}

@media all and ( max-width:400px ){
    .banner h1 {
        font-size: 35px;
    }
    .banner p {
        font-size: 15px;
    }

}