* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

/* The first heading */

.head1 {
    background-color: grey;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-bottom: white 2px;
}
/* new Code to change on all websites */

.biz-name a {
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 3px black;
}

.head1 div a {
    color: white;
}

.head1 div a:hover {
    color: white;
    text-decoration: underline;
}

.head1 div:nth-child(1){
    grid-column: 6;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.head1 div:nth-child(2){
    grid-column: 10;
    justify-self: center;
    align-self: center;
}

.head1 div:nth-child(3){
    grid-column: 11;
    justify-self: center;
    align-self: center;
}

/* The second Heading */

.navbar {
    display: grid;
    background-color: #bab8b8;
    grid-template-columns: repeat(6, 1fr);
    padding: 11px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar div {
    justify-self: center;
    align-self: center;
}

.navbar div a{
    color: white;
}

.navbar div a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT */

.container {
    padding: 20% 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .content {
    max-width: 700px;
    width: 50%;
    background-color: grey;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-width: 10px;
    border-color: #bab8b8;
    border-radius: 20px;
    box-shadow: 0px 0px 25px black;
}

.container .content {
    color: white;
    padding: 30px 0;
}

.container .content h1 {
    color: white;
    padding: 10px 0;
    font-size: 30px;
}

.form-links{
    margin: 10px 0;
    padding: 15px;
}

.form-btn {
    padding: 10px 15px;
    background-color: #bab8b8;
    color: white;
    margin: 10px 40px;
    border-radius: 20px;
}

.form-links a:hover {
    text-decoration: underline;
}



/* Footer */

.footer {
    background-color: grey;
}

.footer-container {
    width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 24px;
}

.footer-section {
    justify-self: center;
}

.footer-section h1 {
    Color: white;
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
}

.footer-section ul{
    list-style: none;
}

.footer-section ul li{
    padding: 4px 0;
}

.footer-section ul li a{
   color: white;
   
}

.footer-section ul li a:hover{
   text-decoration: underline;
}

/* Copyright */

.foot-copyright {
    display: flex;
    justify-content: center;
}

.foot-copyright h1 {
    color: white;
    font-weight: lighter;
    padding: 5px 0;
    
}


/* FIX BELOW */
/* MEDIA QUERIES */

@media all and ( max-width:1280px ){
    /* CHANGES THE MAX WIDTH FROM 1080PX TO 980PX WHEN MAX WIDTH IS 1300PX */

    .footer-container {
        width: 980px;
    }
}

@media all and ( max-width:1180px ){


    .footer-container {
        width: 880px;
    }
}

@media all and ( max-width:1080px ){


    .footer-container {
        width: 768px;
    }
}

@media all and ( max-width:770px ){
    *{
        font-size: 12px;
    } 

    .container .content h1 {
        font-size: 18px;
    }

    .footer-section h1 {
        font-size: 20px;
    }

    .side-link div a {
        color: white;
        font-size: 14px;
    }
}

@media all and ( max-width:740px ){
    .footer-container {
        width: 100%;
        padding-bottom: 8px;
    }
    
    .footer-section h1 {
        padding: 8px 0;
    }

    .footer-section ul li{
        padding: 2px 0;
    }

    .side-link div a {
        color: white;
        font-size: 14px;
    }

    .form-btn {
        padding: 10px 15px;
        background-color: #bab8b8;
        color: white;
        margin: 0 30px;
    }
}

@media all and ( max-width:600px ){
    .head1 {
        grid-template-columns: repeat(7, 1fr);
    }
    
    
    .head1 div:nth-child(1){
        grid-column: 4;
    }
    
    .head1 div:nth-child(2){
        grid-column: 6;
    }
    
    .head1 div:nth-child(3){
        grid-column: 7;
    }

    .side-link div a {
        color: white;
        font-size: 16px;
    }

    .navbar {
        display: none;
    }

    .form-btn {
        padding: 10px 15px;
        background-color: #bab8b8;
        color: white;
        margin: 0 10px;
    }
}

@media all and ( max-width:500px ){
    .side-link div a {
        color: white;
        font-size: 14px;
    }

}

@media all and ( max-width:500px ){
    .head1 {
        background-color: grey;
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-bottom: white 2px;
    }
    
    .head1 div {
        color: white;
    }
    
    .side-link div a {
        color: white;
    }
    
    .head1 div a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .head1 div:nth-child(1){
        grid-column: 2;
        justify-self: center;
        align-self: right;
        font-size: 20px;
        font-weight: bold;
    }
    
    .head1 div:nth-child(2){
        grid-column: 4;
        justify-self: center;
        align-self: center;
    }
    
    .head1 div:nth-child(3){
        grid-column: 5;
        justify-self: center;
        align-self: center;
    }

    .form-btn {
        padding: 10px 15px;
        background-color: #bab8b8;
        color: white;
        margin: 0 5px;
    }
}

@media all and ( max-width:400px ){
    .form-btn {
        padding: 10px 10px;
        background-color: #bab8b8;
        color: white;
        margin: 0 3px;
    }
}

@media all and ( max-width:350px ){
    .form-btn {
        padding: 5px 6px;
        background-color: #bab8b8;
        color: white;
    }
}
